# FinalGROM 99 on XC95144XL

NET ROMS       LOC="P92";
NET WE         LOC="P93";
NET GR         LOC="P94";
NET GC         LOC="P97";
NET DBIN       LOC="P2";
NET GS         LOC="P7";

NET BUS_DX(7)  LOC="P10";
NET BUS_DX(6)  LOC="P12";
NET BUS_DX(5)  LOC="P14";
NET BUS_DX(4)  LOC="P16";
NET BUS_DX(3)  LOC="P18";
NET BUS_DX(2)  LOC="P20";
NET BUS_DX(1)  LOC="P24";
NET BUS_DX(0)  LOC="P25";

NET BUS_AX(12) LOC="P3";
NET BUS_AX(11) LOC="P95";
NET BUS_AX(10) LOC="P96";
NET BUS_AX(9)  LOC="P1";
NET BUS_AX(8)  LOC="P6";
NET BUS_AX(7)  LOC="P8";
NET BUS_AX(6)  LOC="P9";
NET BUS_AX(5)  LOC="P11";
NET BUS_AX(4)  LOC="P13";
NET BUS_AX(3)  LOC="P15";
NET BUS_AX(2)  LOC="P17";
NET BUS_AX(1)  LOC="P4";
NET BUS_AX(0)  LOC="P19";

NET RAM_DX(7)  LOC="P39";
#NET RAM_DX(7)  LOC="P67";
NET RAM_DX(6)  LOC="P28";
NET RAM_DX(5)  LOC="P29";
NET RAM_DX(4)  LOC="P30";
NET RAM_DX(3)  LOC="P65";
NET RAM_DX(2)  LOC="P66";
NET RAM_DX(1)  LOC="P56";
NET RAM_DX(0)  LOC="P55";

NET RAM_AX(19) LOC="P63";
NET RAM_AX(18) LOC="P61";
NET RAM_AX(17) LOC="P60";
NET RAM_AX(16) LOC="P59";
NET RAM_AX(15) LOC="P58";
NET RAM_AX(14) LOC="P37";
NET RAM_AX(13) LOC="P36";
NET RAM_AX(12) LOC="P35";
NET RAM_AX(11) LOC="P34";
NET RAM_AX(10) LOC="P33";
NET RAM_AX(9)  LOC="P32";
NET RAM_AX(8)  LOC="P40";
NET RAM_AX(7)  LOC="P42";
NET RAM_AX(6)  LOC="P43";
NET RAM_AX(5)  LOC="P46";
NET RAM_AX(4)  LOC="P49";
NET RAM_AX(3)  LOC="P50";
NET RAM_AX(2)  LOC="P52";
NET RAM_AX(1)  LOC="P53";
NET RAM_AX(0)  LOC="P54";

NET RAM_WE     LOC="P64";
NET RAM_OE     LOC="P41";

NET CCLK       LOC="P89";
NET CX         LOC="P87";  # RWE/SCLK

NET CCMD(2)    LOC="P90";
NET CCMD(1)    LOC="P91";
NET CCMD(0)    LOC="P86";  # CY

NET CDX(7)     LOC="P76";
NET CDX(6)     LOC="P77";
NET CDX(5)     LOC="P78";
NET CDX(4)     LOC="P79";
NET CDX(3)     LOC="P80";
NET CDX(2)     LOC="P81";
NET CDX(1)     LOC="P82";
NET CDX(0)     LOC="P85";

#NET TDI        LOC="P45";
#NET TMS        LOC="P47";
#NET TCK        LOC="P48";
#NET TDO        LOC="P83";
